h1{
   color: aqua; 
   background-color: black;
}

.outer-box{
    width :300px;
    height :200px;
    background:green;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top:20px;
    border:5px solid ;
    border-color:red;
}

.inner-box{
    width: 200px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 15px;
    background: lightblue;

}
.white{
    color:#ffff;
}
.box1{
    width:40%;
    height:30%;
    background: royalblue;
    float: left;
    margin: 10px;

}
.box2{
    width:40%;
    height:30%;
    background: rgb(129, 159, 250);
    float: left;
    margin: 10px;

}
.box3{
    width:40%;
    height:30%;
    background: rgb(129, 159, 250);
    float: left;
    margin: 10px;

}
.box4{
    width:40%;
    height:30%;
    background: royalblue;
    float: left;
    margin: 10px;

}
.header{
    width: 100%;
    background: rgb(95, 78, 47);
    height: 50px;
    
   
}
h2{
    color:aliceblue;
    text-align: center;
}
.left-selection{
    width:200px;
    float:left;
    height:100%;
    background-color: blue;
}
body{
    margin: 10px;
}